.text {
  font-size: 40px;
  margin: 5px;
  display: block;
}

.secondtext {
font-size: 20px;
}

.secondtextwithenter {
  font-size: 20px;
  margin: 5px;
  display: block;
}

.thirdtext {
  font-size: 20px;
}