.text {
  font-size: 40px;
  margin: 5px;
  display: block;
}

.text25 {
font-size: 25px;
}

.text25_and_enter {
  font-size: 25px;
  margin: 5px;
  display: block;
  }

.secondtextwithenter {
  font-size: 20px;
  margin: 5px;
  display: block;
}

.enter {
  margin: 5px;
  display: block;
}