.text {
  font-size: 40px;
  margin: 5px;
  display: block;
}

.text30 {
  font-size: 30px;
  }

  .text31 {
    font-size: 30px;
    margin: 20px;
    display: block;
    }

.text25 {
font-size: 25px;
}

.text25_and_enter {
  font-size: 25px;
  margin: 5px;
  display: block;
  }

  .text20 {
    font-size: 20px;
    }
    

.secondtextwithenter {
  font-size: 20px;
  margin: 5px;
  display: block;
}

.enter {
  margin: 5px;
  display: block;
}